.datoTable {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
}

.datoRow {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 8px;
    align-items: center;
    justify-items: start;
    justify-content: center;
    align-content: center;
   
}

.datoIcon{
    width: 30px;
}