.text {
    font-size: 1em;
}

.tiempo {
    width: 200px;
}

.experiencias {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}

.experiencia {
    gap: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.experienciaContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titleExp {
    margin: 0;
}

.subTitleExp {
    margin: 0;
    font-size: 1em;
}