.listaHabilidades {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
}

.habilidad {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 0;
    justify-content: space-between;
}





.barra {
    position: relative;
    width: 50%;
    background-color: #e0e0e0;
    height: 14px;
    border-radius: 5px;
}

.porcentaje {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    background-color: var(--grey);
    border-radius: 5px;
    text-align: center;
    z-index: 2;
}


@media screen and (max-width: 1000px) {
    .habilidad {
        flex-direction: column;
    }

    .barra {
        width: 100%;
    }
}