.app {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1000px;
  border: 1px solid black;
  position: relative;


}


.refresh{
  position: absolute;
  background-color: rgb(224, 61, 61);
  top: 5px;
  width: 40px;
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: center;
  color: white;
align-items: center;
  right: 5px;
  border-radius: 10px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  display: flex;
  background-color: var(--grey);

}

.name {
  font-size: 1.4em;
  margin-left: 100px;
  color: white;

}

.avatar {
  position: absolute;
  top: 20px;
  left: 60px;
  width: 180px;
  border-radius: 50%;
  border: 7px solid var(--grey);
}



.main {
  padding: 30px;
  gap: 6%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}



.columna1 {
  margin-top: 90px;
  width: 31%;
}

.columna2 {
  width: 63%;
}


@media screen and (max-width: 650px) {
  .header {
    gap: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 130px;

  }

  .avatar {
    position: relative;
    top: 0px;
    left: 0px;
    width: 15vw;
    border-radius: 50%;
    border: 4px solid var(--grey);
  }

  p.name {
    margin-left: 0px;
    font-size: 1.2em;
  }

  .main {
    padding: 30px;
    gap: 6%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .columna1 {
    margin-top: 0px;
    width: 100%;
  }

  .columna2 {
    width: 100%;
  }

}