.app {
  display: flex;
  justify-content: center;
}

.content {
  width: 1000px;
  border: 1px solid black;
  position: relative;


}



.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  display: flex;
  background-color: var(--grey);

}

.name {
  font-size: 1.4em;
  margin-left: 40px;
  color: white;

}

.avatar {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 180px;
  border-radius: 50%;
  border: 7px solid var(--grey);
}

.main {
  padding: 30px;
  display: grid;
  grid-template-columns: 40% 60%;
}


.columna1 {
  margin-top: 90px;
}